.row {
  width: 250px;
}

.tile {
  float: left;
  height: 70px;
  width: 70px;
  border: 1px solid black;
  margin-left: 2px;
  margin-top: 2px;
  background: #ccc;
}

.tile:hover {
  cursor: pointer;
  background: #eee;
}

.markX {
  background: rgb(255, 77, 77);
  text-align: center;
}

.markY {
  background: rgb(92, 133, 255);
  text-align: center;
}

.markX:hover {
  background: rgb(255, 77, 77);
}

.markY:hover {
  background: rgb(92, 133, 255);
}

.game {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.select {
  width: 200px;
  background: #ccc;
  padding: 20px;
  text-align: center;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

button {
  width: 70px;
  height: 30px;
  border-radius: 2px;
  background-color: rgb(204, 153, 255);
  border: none;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}

div.over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  z-index: 1;
  background-color: white;
  border-radius: 5px;
}

div.modal {
  background: black;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 0;
}

img {
  width: 60px;
  margin-top: 5px;
}
